img {
  height: auto;
  max-width: 100%;
}

.nav {
  &-link {
    transition: color .15s ease;
  }
}

.navbar {
  &-collapse {
    @include media-breakpoint-up(md) {
      justify-content: center;
    }
  } 
}

.social-icons {
  img {
    max-width: $grid-gutter-width*.75;
  }
}

.footer {
  background-color: #F9F9F9;

  &__social {
    text-align: right;
  }
}